@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6D050;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container_all{
    background-color: white;
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 10px 10px black;
    text-align: center;
    height: 500px;
}

.container_img img{
   border-radius: 10px;
   margin-bottom: 10px;
}

.andamento p{
    text-align: left;
    color: black;
    background-color: #F6D050;
    width: 90px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

#left{
    display: flex;
    margin-bottom: 10px;
}

.titulo{
    margin-top: 10px;
    margin-bottom: 10px;
}

#span_content{
   color: #8C8C8C;
}

.usuario_container{
    margin-top: 20px;
    display: flex;
    position: relative;
}

#absolute_span{
    position: absolute;
    top: 20px;
    left: 80px;
    font-weight: bold;
}
